<?xml version="1.0" encoding="UTF-8" ?>
<resource_file type="PackedScene" subresource_count="7" version="1.1" version_name="Godot Engine v1.1.stable.d3b42e41b0">
	<ext_resource path="res://icon.png" type="Texture"></ext_resource>
	<ext_resource path="res://icon2.png" type="Texture"></ext_resource>
	<ext_resource path="res://icon3.png" type="Texture"></ext_resource>
	<ext_resource path="res://icon4.png" type="Texture"></ext_resource>
	<ext_resource path="res://icon5.png" type="Texture"></ext_resource>
	<ext_resource path="res://Assets/scripts/inventory.gd" type="Script"></ext_resource>
	<main_resource>
		<dictionary name="_bundled" shared="false">
			<string> "conn_count" </string>
			<int> 0 </int>
			<string> "conns" </string>
			<int_array  len="0"> 				 </int_array>
			<string> "names" </string>
			<string_array  len="43">
				<string> "Control" </string>
				<string> "_import_path" </string>
				<string> "visibility/visible" </string>
				<string> "visibility/opacity" </string>
				<string> "visibility/self_opacity" </string>
				<string> "visibility/light_mask" </string>
				<string> "margin/right" </string>
				<string> "margin/bottom" </string>
				<string> "focus_neighbour/left" </string>
				<string> "focus_neighbour/top" </string>
				<string> "focus_neighbour/right" </string>
				<string> "focus_neighbour/bottom" </string>
				<string> "focus/ignore_mouse" </string>
				<string> "focus/stop_mouse" </string>
				<string> "size_flags/horizontal" </string>
				<string> "size_flags/vertical" </string>
				<string> "size_flags/stretch_ratio" </string>
				<string> "__meta__" </string>
				<string> "HButtonArray" </string>
				<string> "margin/left" </string>
				<string> "margin/top" </string>
				<string> "hint/tooltip" </string>
				<string> "button/count" </string>
				<string> "button/min_button_size" </string>
				<string> "button/align" </string>
				<string> "button/0/text" </string>
				<string> "button/0/icon" </string>
				<string> "button/1/text" </string>
				<string> "button/1/icon" </string>
				<string> "button/2/text" </string>
				<string> "button/2/icon" </string>
				<string> "button/3/text" </string>
				<string> "button/3/icon" </string>
				<string> "button/4/text" </string>
				<string> "button/4/icon" </string>
				<string> "button/selected" </string>
				<string> "script/script" </string>
				<string> "LineEdit" </string>
				<string> "custom_colors/cursor_color" </string>
				<string> "text" </string>
				<string> "max_length" </string>
				<string> "editable" </string>
				<string> "secret" </string>
			</string_array>
			<string> "node_count" </string>
			<int> 3 </int>
			<string> "nodes" </string>
			<int_array  len="171"> 				-1, -1, 0, 0, -1, 17, 1, 0, 2, 1, 3, 2, 4, 2, 5, 3, 6, 4, 7, 4, 8, 0, 9, 0, 10, 0, 11, 0, 12, 5, 13, 1, 14, 6, 15, 6, 16, 2, 17, 7, 0, 0, 0, 18, 18, -1, 34, 1, 0, 2, 1, 3, 2, 4, 2, 5, 3, 19, 8, 20, 9, 6, 10, 7, 11, 21, 12, 8, 0, 9, 0, 10, 0, 11, 0, 12, 5, 13, 1, 14, 6, 15, 6, 16, 2, 22, 13, 23, 14, 24, 15, 25, 16, 26, 17, 27, 18, 28, 19, 29, 20, 30, 21, 31, 22, 32, 23, 33, 24, 34, 25, 35, 15, 36, 26, 0, 1, 0, 37, 37, -1, 24, 1, 0, 2, 1, 3, 2, 4, 2, 5, 3, 19, 27, 20, 28, 6, 29, 7, 30, 21, 31, 8, 0, 9, 0, 10, 0, 11, 0, 12, 1, 13, 1, 14, 6, 15, 6, 16, 2, 38, 32, 39, 33, 40, 15, 41, 1, 42, 5, 0 </int_array>
			<string> "variants" </string>
			<array  len="34" shared="false">
				<node_path> "" </node_path>
				<bool> True </bool>
				<real> 1 </real>
				<int> 1 </int>
				<real> 40 </real>
				<bool> False </bool>
				<int> 2 </int>
				<dictionary  shared="false">
					<string> "__editor_plugin_screen__" </string>
					<string> "Script" </string>
					<string> "__editor_plugin_states__" </string>
					<dictionary  shared="false">
						<string> "2D" </string>
						<dictionary  shared="false">
							<string> "ofs" </string>
							<vector2> -459.957, -369.523 </vector2>
							<string> "snap_grid" </string>
							<bool> True </bool>
							<string> "snap_offset" </string>
							<vector2> 0, 0 </vector2>
							<string> "snap_pixel" </string>
							<bool> False </bool>
							<string> "snap_relative" </string>
							<bool> False </bool>
							<string> "snap_rotation" </string>
							<bool> False </bool>
							<string> "snap_rotation_offset" </string>
							<real> 0 </real>
							<string> "snap_rotation_step" </string>
							<real> 0.261799 </real>
							<string> "snap_show_grid" </string>
							<bool> False </bool>
							<string> "snap_step" </string>
							<vector2> 10, 10 </vector2>
							<string> "zoom" </string>
							<real> 0.735092 </real>
						</dictionary>
						<string> "3D" </string>
						<dictionary  shared="false">
							<string> "ambient_light_color" </string>
							<color> 0.15, 0.15, 0.15, 1 </color>
							<string> "default_light" </string>
							<bool> True </bool>
							<string> "default_srgb" </string>
							<bool> False </bool>
							<string> "deflight_rot_x" </string>
							<real> 0.942478 </real>
							<string> "deflight_rot_y" </string>
							<real> 0.628319 </real>
							<string> "fov" </string>
							<real> 45 </real>
							<string> "show_grid" </string>
							<bool> True </bool>
							<string> "show_origin" </string>
							<bool> True </bool>
							<string> "viewport_mode" </string>
							<int> 1 </int>
							<string> "viewports" </string>
							<array  len="4" shared="false">
								<dictionary  shared="false">
									<string> "distance" </string>
									<real> 4 </real>
									<string> "listener" </string>
									<bool> True </bool>
									<string> "pos" </string>
									<vector3> 0, 0, 0 </vector3>
									<string> "use_environment" </string>
									<bool> False </bool>
									<string> "use_orthogonal" </string>
									<bool> False </bool>
									<string> "x_rot" </string>
									<real> 0 </real>
									<string> "y_rot" </string>
									<real> 0 </real>
								</dictionary>
								<dictionary  shared="false">
									<string> "distance" </string>
									<real> 4 </real>
									<string> "listener" </string>
									<bool> False </bool>
									<string> "pos" </string>
									<vector3> 0, 0, 0 </vector3>
									<string> "use_environment" </string>
									<bool> False </bool>
									<string> "use_orthogonal" </string>
									<bool> False </bool>
									<string> "x_rot" </string>
									<real> 0 </real>
									<string> "y_rot" </string>
									<real> 0 </real>
								</dictionary>
								<dictionary  shared="false">
									<string> "distance" </string>
									<real> 4 </real>
									<string> "listener" </string>
									<bool> False </bool>
									<string> "pos" </string>
									<vector3> 0, 0, 0 </vector3>
									<string> "use_environment" </string>
									<bool> False </bool>
									<string> "use_orthogonal" </string>
									<bool> False </bool>
									<string> "x_rot" </string>
									<real> 0 </real>
									<string> "y_rot" </string>
									<real> 0 </real>
								</dictionary>
								<dictionary  shared="false">
									<string> "distance" </string>
									<real> 4 </real>
									<string> "listener" </string>
									<bool> False </bool>
									<string> "pos" </string>
									<vector3> 0, 0, 0 </vector3>
									<string> "use_environment" </string>
									<bool> False </bool>
									<string> "use_orthogonal" </string>
									<bool> False </bool>
									<string> "x_rot" </string>
									<real> 0 </real>
									<string> "y_rot" </string>
									<real> 0 </real>
								</dictionary>
							</array>
							<string> "zfar" </string>
							<real> 500 </real>
							<string> "znear" </string>
							<real> 0.1 </real>
						</dictionary>
						<string> "Script" </string>
						<dictionary  shared="false">
							<string> "current" </string>
							<int> 0 </int>
							<string> "sources" </string>
							<array  len="1" shared="false">
								<string> "res://Assets/scripts/inventory.gd" </string>
							</array>
						</dictionary>
					</dictionary>
					<string> "__editor_run_settings__" </string>
					<dictionary  shared="false">
						<string> "custom_args" </string>
						<string> "-l $scene" </string>
						<string> "run_mode" </string>
						<int> 0 </int>
					</dictionary>
					<string> "_edit_lock_" </string>
					<bool> True </bool>
				</dictionary>
				<real> 190 </real>
				<real> 660 </real>
				<real> 844 </real>
				<real> 732 </real>
				<string> "Inventory" </string>
				<int> 5 </int>
				<real> -1 </real>
				<int> 0 </int>
				<string> "hey" </string>
				<resource  resource_type="Texture" path="res://icon.png">  </resource>
				<string> "wheat" </string>
				<resource  resource_type="Texture" path="res://icon2.png">  </resource>
				<string> "corn" </string>
				<resource  resource_type="Texture" path="res://icon3.png">  </resource>
				<string> "coins" </string>
				<resource  resource_type="Texture" path="res://icon4.png">  </resource>
				<string> "reputation" </string>
				<resource  resource_type="Texture" path="res://icon5.png">  </resource>
				<resource  resource_type="Script" path="res://Assets/scripts/inventory.gd">  </resource>
				<real> 140 </real>
				<real> -50 </real>
				<real> 530 </real>
				<real> -27 </real>
				<string> "display" </string>
				<color> 0, 0, 0, 1 </color>
				<string> "" </string>
			</array>
			<string> "version" </string>
			<int> 1 </int>
		</dictionary>

	</main_resource>
</resource_file>