@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-business152:before {
	content: "\e000";
}
.flaticon-business154:before {
	content: "\e001";
}
.flaticon-businessman216:before {
	content: "\e002";
}
.flaticon-businessman217:before {
	content: "\e003";
}
.flaticon-businessman218:before {
	content: "\e004";
}
.flaticon-businessman219:before {
	content: "\e005";
}
.flaticon-businessmen32:before {
	content: "\e006";
}
.flaticon-female212:before {
	content: "\e007";
}
.flaticon-lecturer:before {
	content: "\e008";
}
.flaticon-male220:before {
	content: "\e009";
}
.flaticon-man393:before {
	content: "\e00a";
}
.flaticon-man397:before {
	content: "\e00b";
}
.flaticon-person295:before {
	content: "\e00c";
}
.flaticon-winner12:before {
	content: "\e00d";
}
.flaticon-worker11:before {
	content: "\e00e";
}
.flaticon-worker12:before {
	content: "\e00f";
}
.flaticon-workers1:before {
	content: "\e010";
}
.flaticon-workers2:before {
	content: "\e011";
}
.flaticon-workers3:before {
	content: "\e012";
}
.flaticon-workers:before {
	content: "\e013";
}
